@(loginForm: Form[Option[User]])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._


@main("Wieck Auth Test") {
  @helper.form(routes.Application.authenticate) {

    <h1>Sign in</h1>

    @loginForm.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    @helper.inputText(loginForm("login"), '_label -> "Login", '_showConstraints -> false, '_showErrors -> true )

    @helper.inputPassword(loginForm("password"), '_label -> "Password")

    <div class="actions">
      <input type="submit" class="btn primary" value="Submit">
    </div>

  }
}
